<h1>RECIPE FINDER </h1>
<h2>Searching for - <u><%= @search %></u></h2>
<p>Search using http://recipefinder-djk26.herokuapp.com/?search='keyword' </p>
<table border="1">
  <tr>
    <th>Image</th>
    <th>Title</th>
    <th>Social Rank</th>
  </tr>
  <% @recipes.each do |it| %>
      <tr class=<%= cycle('even', 'odd') %>>
        <td><%= link_to it["source_url"] do %>
          <%= image_tag  it["image_url"], width: '100', height: '100'%>
        <% end %></td>
        <td><%= link_to(sanitize(it["title"]), it["source_url"]) %></td>
        <td><%= it["social_rank"] %></td>
      </tr> 
    
  <% end %>
</table>
